# Django
*.py[cod]
*$py.class
__pycache__/
.Python
db.sqlite3
db.sqlite3-journal
local_settings.py
static/staticfiles/
staticfiles/
media/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.DS_Store

# OS
.DS_Store
Thumbs.db
